.link {
  font-size: 20px;
  outline: none;
  transition: opacity .3s;
  display: inline-flex;
  align-items: center;
  color: #fff;

  svg {

    g,
    path {
      transition: all .3s;
    }
  }

  &:hover {
    opacity: .9;
    color: #fff;

    svg {
      g {
        fill: #fff;
      }

      path {
        fill: $dark;
      }
    }
  }

  svg {
    margin-left: 10px;
  }

  @include media-breakpoint-down(xxl) {
    font-size: 16px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }

  &--dark {
    color: $dark;
    svg  {
      path {
        fill: $dark;
      }
      g {
        stroke: $dark;
      }
    }
    &:hover {
      color: $dark;
      svg {
        path {
          fill: #fff;
        }
        g {
          fill: $dark;
        }
      }
    }
  }
}

.section-container {
  padding: 77px 74px;
  flex-grow: 1;
  width: calc(100% - 302px);
  @include media-breakpoint-down(xxl) {
    width: calc(100% - 250px);
  }
  @include media-breakpoint-down(xl) {
  }
  @include media-breakpoint-down(lg) {
    width: 100%;
    padding: 50px 15px;
  }
}

.section-title {
  // background: $dark;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  @include media-breakpoint-up(xl) {
    min-width: 302px;
    padding: 20px;
    border-right: 1px solid #fff;
  }


  @include media-breakpoint-down(xxl) {
    min-width: 250px;
  }

  &::after {
    content: "";
    position: fixed;
    top: 0;
    width: 1px;
    height: 100%;
    background: white;
    transform: translateX(151px);
    z-index: 9;

    @include media-breakpoint-down(xxl) {
      transform: translateX(125px);
    }

    @include media-breakpoint-down(xl) {
      display: none;
    }
  }

  h2 {
    font-weight: 200;
    font-size: 53px;
    color: #fff;
    margin: auto;
    text-transform: uppercase;
    cursor: default;
    @include media-breakpoint-up(xl) {
      writing-mode: vertical-rl;
      transform: scale(-1);
    }

    @include media-breakpoint-down(xxl) {
      font-size: 40px;
    }
  }

  &--style-2 {
    background-image: linear-gradient(rgba(#173A38, .81) 100%, transparent 0%), url('~@/assets/images/home/title-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include media-breakpoint-down(lg) {
      background: none;
      h2 {
        color: $dark;
      }
    }
  }
}

.inner-hero {
  background-image: linear-gradient(rgba(#334140, .80) 100%, transparent 0%), url('~@/assets/images/inner-hero-bg.png');
  background-size: cover;
  background-position: bottom center;
  padding-top: 150px;
  padding-bottom: 30px;
  @include media-breakpoint-down(xxl) {
    padding-top: 120px;
  }
  color: #fff;
  &__title {
    font-size: 44px;
    @include media-breakpoint-down(xxl) {
      font-size: 30px;
    }
  }
  &__input {
    border-radius: 40px;
    border: 1px solid rgba($color: #fff, $alpha: .5);
    background: transparent;
    color: #fff;
    transition: all .3s;
    outline: none;
    padding: 10px 30px;
    width: 400px;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    &:focus {
      border-color: #fff;
    }
    &::placeholder {
      color: #fff;
    }
  }
}
